<mat-toolbar color="primary">
  <span>{{title}}</span>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <!-- <span class="toolbar-spacer"></span> -->
    <mat-icon class="toolbar-icon">
      <menu type="toolbar"></menu>
    </mat-icon>
  </button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>

<mat-grid-list color="secondary" cols="2" rowHeight="2:2">
  <mat-grid-tile>
    <ul>
      <li>
        <a routerLink="/seeker/register">Seeker Registration</a>
      </li>
    </ul>

  </mat-grid-tile>
  <mat-grid-tile>
     
        <router-outlet></router-outlet>
      
  </mat-grid-tile>
</mat-grid-list>

