<mat-card>

  <mat-horizontal-stepper>

    <mat-step [stepControl]="signupForm">

      <form (ngSubmit)="saveSignup()" [formGroup]="signupForm">

        <ng-template matStepLabel>Login details</ng-template>

        <div>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Enter your email" formControlName="email">
            <mat-error *ngIf="!signupForm.get('email').valid">
              <mat-icon>warning</mat-icon> Your email doesn't look right.</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Enter a password" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            <mat-error *ngIf="!signupForm.get('password').valid">
              <mat-icon>warning</mat-icon> Please enter a password.</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-checkbox formControlName="terms">I agree with the
            <a href="#">terms and conditions</a>
          </mat-checkbox>
        </div>

        <div class="actions">
          <button mat-raised-button type="submit" color="primary" [disabled]="!signupForm.valid" matStepperNext>Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="detailsGroup">

      <form (ngSubmit)="saveDetails()" [formGroup]="detailsGroup">
        <ng-template matStepLabel>Personal details</ng-template>

        <div>
          <mat-form-field class="field-full-width">
            <input matInput placeholder="Enter your first name" formControlName="firstname">
            <mat-error *ngIf="!detailsGroup.get('firstname').valid">First name is required</mat-error>
          </mat-form-field>
        </div>

        <!-- <div>
          <mat-form-field class="field-full-width">
            <input matInput [matDatepicker]="picker" formControlName="dateofbirth" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div> -->

        <div>
          <button mat-button matStepperNext>Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step>

      <ng-template matStepLabel>Done.</ng-template>

      <p>... and we're done.</p>

    </mat-step>

  </mat-horizontal-stepper>

</mat-card>

<mat-card>

  <mat-list>

    <mat-list-item>
      <h3>Signup form</h3>
    </mat-list-item>
    <mat-list-item>
      Dirty: {{ signupForm.dirty }}
    </mat-list-item>
    <mat-list-item>
      Touched: {{ signupForm.touched }}
    </mat-list-item>
    <mat-list-item>
      Valid: {{ signupForm.valid }}
    </mat-list-item>
    <mat-list-item>
      Value: {{ signupForm.value | json }}
    </mat-list-item>
  </mat-list>
</mat-card>