<mat-card>

  <!-- <div class="form-container">

    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter a password" [type]="hidePassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
    </mat-form-field>

    <button mat-button>Next</button>
  </div> -->


  <mat-horizontal-stepper>

    <mat-step [stepControl]="Step1Group">
        <form [formGroup]="Step1Group">
            <ng-template matStepLabel>Login details</ng-template>

            <mat-form-field>
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
              </mat-form-field>
          
              <mat-form-field>
                <input matInput placeholder="Enter a password" [type]="hidePassword ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
              </mat-form-field>
          
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
              </div>
              
        </form>
    </mat-step>

    <mat-step [stepControl]="Step2Group">
        <ng-template matStepLabel>Personal details</ng-template>

        <p>hello</p>

        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

  </mat-horizontal-stepper>

</mat-card>