.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 100%;
  }

  .actions{
    margin-top:15px;
  }

  form {
    min-width: 150px;
    max-width: 500px;
    margin: 15px;
    width: 80%;
  }

.field-full-width {
    width: 100%;
    
  }

  form div{
    margin-top:15px;  
  }